<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>La raterie</title>
  </head>
  <body>
    <% if (showNavbar) { %>
    <header>
      <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <section class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/image/raterie-logo.svg" class="navbar__logo" alt="La Raterie Logo" />
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/invoice">Facture</a>
              <a class="navbar-item" href="/contacts">Contacts</a>
            </div>
          </div>

          <div class="navbar-end">
            <a class="navbar-item" href="/user"> <strong>Profil</strong> </a>
            <div class="navbar-item">
              <a class="button is-dark" href="/signout"> <strong>Déconnexion</strong> </a>
            </div>
          </div>
        </section>
      </nav>
    </header>
    <% } %>
    <main class="container full-height-vh">
