<!DOCTYPE html>
<html data-theme="light" lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Raton</title>
  </head>
  <body class="container">
    <% if (showNavbar) { %>
    <header>
      <nav>
        <ul>
          <li>
            <h1>
              <a class="reset-link" href="/invoice"><b>.Raton</b></a>
            </h1>
          </li>
        </ul>

        <ul>
          <li>
            <details class="dropdown">
              <summary>Menu</summary>
              <ul dir="rtl">
                <li><a class="contrast" href="/invoice">Facture</a></li>
                <li><a class="contrast" href="/clients">Clients</a></li>
                <li><a class="contrast" href="/services">Prestations</a></li>
                <li><a class="contrast" href="/summary">Récapitulatif</a></li>
                <li><a class="contrast" href="/profile">Profil</a></li>
                <li>
                  <a class="constrast" href="/signout"><strong>Déconnexion</strong></a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </header>
    <% } %>
