<%- include('partials/head.ejs') %>

<main class="max-view-height vert-center">
  <h1 class="big-title txt-align-center"><b>.Raton</b></h1>
  <form action="/signin" method="POST">
    <fieldset>
      <label>
        Email
        <input type="email" name="email" required />
      </label>
      <label>
        Mot de passe
        <input type="password" name="password" required />
      </label>
    </fieldset>
    <button type="submit">Sign In</button>
    <% if (locals.errorMessage) { %>
    <p class="error-message"><%= errorMessage %></p>
    <% } %>
  </form>
</main>

<%- include('partials/footer.ejs') %>
