.full-height-vh {
  height: 100vh;
}

.full-height-prct {
  height: 100%;
}

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  --bulma-navbar-item-img-max-height: 3.7rem;
}

.navbar__logo {
  width: 90%;
  height: auto;
}

.mar-bot {
  margin-bottom: 50px;
}

.mar-right {
  margin-right: 10px;
}

.txt-align-center {
  text-align: center;
}

.not-fount__img {
  width: 30%;
  margin-bottom: 50px;
  border-radius: 50%;
}

.is-hidden {
  display: none;
}

.reset-link {
  text-decoration: none; /* Enlève le soulignement */
  color: inherit; /* Hérite de la couleur du texte parent */
  background: none; /* Enlève le fond */
  border: none; /* Enlève la bordure */
  outline: none; /* Enlève l'effet de focus ou de surbrillance */
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* INVOICE PDF */

.pdf-frame {
  width: 21cm;
  height: 29.7cm;
}

/* Dimensions du PDF en A4 : 21cm x 29.7cm */
.facture-container {
  width: 21cm;
  min-height: 29.7cm;
  margin: 0 auto;
  padding: 0.5cm;
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
}

.facture-title {
  color: #333;
}

/* Entête avec informations prestataire et client */
.facture-header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1cm;
  text-align: center;
}

/* Date de facturation centrée */
.facture-date {
  text-align: center;
  font-size: 0.5cm;
  margin-bottom: 1cm;
  color: #444;
}

/* Table de prestations */
.facture-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1cm;
}

.facture-table th,
.facture-table td {
  border: 0.05cm solid #ddd;
  padding: 0.1cm;
}

.facture-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #555;
}

.facture-table tfoot th {
  background-color: #f9f9f9;
  font-weight: bold;
}

/* Footer toujours en bas */
.facture-footer {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  padding: 0.2cm;
  border-top: 0.05cm solid #ddd;
  color: #666;
  font-size: 0.4cm;
}

.footer-facture-button-container {
  display: flex;
  justify-content: space-around;
  width: 21cm;
}
