/* ----------------------------------------------------------------------------------- */
/* CSS VARIABLES */
:root {
  --error-color: #d93526;
  --white-color: #fff;
  --pico-primary-color: #4b5320;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-primary-background: var(--pico-primary-color);
  --pico-primary-hover-background: #3f4518;
  --pico-primary-hover-border: #3f4518;
  --pico-primary-focus: #3f4518;
}

/* ----------------------------------------------------------------------------------- */
/* COLORS */
.error-message {
  color: var(--error-color);
}

.background-color-white {
  background-color: var(--white-color);
}

/* ----------------------------------------------------------------------------------- */
/* TITLE */
.big-title {
  font-size: 3rem;
  font-weight: bold;
}

/* ----------------------------------------------------------------------------------- */
/* FLEX */
.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------- */
/* OVERWRITING PICO CSS */
.margin-none {
  margin: 0 !important;
}

/* ----------------------------------------------------------------------------------- */
/* COLORS */

.custom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* EXACTEMENT 3 par ligne */
  gap: 5%;
  align-items: stretch;
}

@media (max-width: 900px) {
  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .custom-grid {
    grid-template-columns: 1fr;
  }
}

.card-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: var(--spacing);
  background: var(--card-background-color, #fff);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.max-view-height {
  height: 100vh;
}

.full-height-prct {
  height: 100%;
}

.mar-bot {
  margin-bottom: 50px;
}

.mar-right {
  margin-right: 10px;
}

.txt-align-center {
  text-align: center;
}

.not-fount__img {
  width: 30%;
  margin-bottom: 50px;
  border-radius: 50%;
}

.is-hidden {
  display: none;
}

.is-clickable {
  cursor: pointer;
}

.reset-link {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* INVOICE PDF */

.facture-container {
  min-width: 21cm;
  min-height: 29.7cm;
  font-size: initial;
}
