<section id="invoiceServicesTab" class="tab-content active">
  <table class="striped">
    <thead>
      <tr>
        <th>Prestation</th>
        <th>Prix</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <% if (services) { %> <% services.forEach(service => { %>
      <tr data-service-id="<%= service.service_id %>">
        <td><%= service.service_name %></td>
        <td><%= service.service_price %>€</td>
        <td>
          <input
            class="margin-none"
            type="number"
            data-service-id="<%= service.service_id %>"
            data-service-quantity
            value="0"
            min="0"
            required
          />
        </td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</section>
